td
{
        border:1px solid black;
}
th, table 
{border: 3px solid black;}
table
{
        border-collapse: collapse;
        color: grey;
}
td, th
{
        padding-left: 20px;
        padding-right: 20px;
}
td a
{ 
        color: blue;
}
#testing
{color:navy;}
.rowheader
{color: black}
th:hover
{color: lightblue}